body {
	font-family: LeonRegular, sans-serif;
}

@font-face {
	font-family: LeonRegular;
	src: url("../fonts/Leon-Regular_TRIAL.ttf");
}

@font-face {
	font-family: Gravity;
	src: url("../fonts/Gravity-Book.otf");
}

#header {
	display: flex;
	justify-content: center;
	background-color: rgb(51, 119, 255);
	border-bottom: 5px solid black;
	border-top: 5px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.flex-header {
	padding: 15px;
	margin: 0px;
	width: 1000px;
	display: flex;
	justify-content: center;
}

.flex-header img {
	height: 80px;
	width: 600px;
}

body {
	margin: 0px;
	background-color: rgb(167, 188, 206);
}

body .tagline {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 40px;
}

body .preview {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.flex-body {
	padding: 0px;
	margin: 10px 30px 30px 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex-body h1 {
	margin: 0px 0px 20px 0px;
}

.flex-body #color {
	height: 400px;
	width: 400px;
	background-color: white;
	border: 5px solid black;
	border-radius: 5px;
}

.rgb {
	margin-bottom: 20px;
	font-size: 24px;
}

.rgb label {
	display: inline-block;
	width: 60px;
	padding-right: 5px;
	text-align: right;
	margin-left: 20px;
}

.rgb input {
	display: inline-block;
	width: 100px;
	height: 25px;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: Gravity, sans-serif;
	border-radius: 5px;
	border: 2px solid black;
	padding-left: 5px;
}

.hex {
	margin-bottom: 20px;
	font-size: 24px;
}

.hex label {
	display: inline-block;
	width: 60px;
	padding-right: 5px;
	text-align: right;
	margin-left: 10px;
}

.hex input {
	display: inline-block;
	width: 100px;
	height: 25px;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: Gravity, sans-serif;
	border-radius: 5px;
	border: 2px solid black;
	padding-left: 5px;
}

.button {
	width: 250px;
	font-size: 20px;
	font-family: LeonRegular, sans-serif;
	border-radius: 5px;
	background-color: rgb(51, 119, 255);
	border: 2px solid black;
}

#footer {
	font-family: Gravity, sans-serif;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
